body{
  /* background-image: url("./images/BATMAN-WALLPAPER-4K-632023.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
  margin: 0;
}

.header{
  display: flex;
  justify-content: center;
}
.h1{
  color: rgb(10, 1, 1);
  font-style:bold;
  font-family:'Times New Roman', Times, serif;
  
}
.main{
  display: flex;
  justify-content: end;
  align-items:flex-end;
}
.linkdin{
color: black;
font-size: 50px;
}
.linkdin :hover{
  color: rgb(41, 125, 233);
}
.github{
  color: black;
  font-size: 50px;
}
.github:hover{
  color: azure;
}

/* NAVBAR */

.navbar{
  display: flex;
  justify-content: baseline;
  align-items: flex-end;
  gap: 20px;
  text-decoration:overline;
}
/* SKILLS */

.skills{
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  font-style: italic;
}
.skills:hover{
  color: grey;
}

/* PROJECTS */
.projects{
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  font-style: italic;
}
.projects:hover{
  color: grey;
}

/* INRO */
.intro{
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  font-style: italic;
}
.intro:hover{
  color:grey;
}

/* ABOUT */
.about{
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  font-style: italic;
}
.about:hover{
  color: grey;
}

/* contact */
.contact{
  color: black;
  font-size: 25px;
  font-family: sans-serif;
  font-style: italic;
}
.contact:hover{
  color:grey;
}
